.app {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bs-yellow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  h1 {
    color: var(--bs-gray-dark);
  }
  input {
    max-width: 300px;
  }
}

.wrap-button {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  > button {
    width: 45%;
  }
}

.box {
  background-color: var(--bs-white);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
  overflow: hidden;
}

.income,
.balance,
.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction {
  min-height: 230px;
  position: relative;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    position: relative;
    &:hover {
      .transaction__item-control {
        display: flex;
      }
    }
    &-name {
      font-weight: bold;
    }
    &-price {
      display: flex;
      flex-direction: column;
    }
    &-control {
      position: absolute;
      width: 200%;
      right: -2rem;
      display: flex;
      padding: 0.5rem;
      justify-content: flex-end;
      align-items: center;
      background-color: rgba(0, 0, 0, .3);
      display: none;
      > button {
        opacity: 0.8;
      }
    }
  }
}

.expense-none {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-confirm-alert-overlay {
  background-color: rgba(0, 0, 0, .7);
}

.react-confirm-alert {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}